NAUKRI_EMAIL=your_email@domain.com
NAUKRI_PASSWORD=your_secure_password

# System Defaults
EXPECTED_CTC=1500000
CURRENT_CTC=1000000
NOTICE_PERIOD=Immediate
EXPERIENCE=1

# OLLAMA CONFIG
OLLAMA_API_URL=http://localhost:11434
EMBEDDING_MODEL=nomic-embed-text
LLM_MODEL=gemma4:e4b

# PIPELINE SETTINGS
MAX_WORKERS=8
TOP_K_PERCENTAGE=0.25
TOP_K_LLM=40
